version: '3.7'

services:

  web:
    image: mhilker/private:cinema-bot-web
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
    environment:
      - PHP_HOSTNAME=webhook
    ports:
      - "21000:80"
    volumes:
      - .:/app/

  webhook:
    image: mhilker/private:cinema-bot-php
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    environment:
      - TELEGRAM_TOKEN_FILE=/run/secrets/cinema-bot-telegram-token
      - DB_PATH=/app/database/data.db
    volumes:
      - .:/app/
      - sqlite3-db-data:/app/database/
    secrets:
      - cinema-bot-telegram-token

  crawler:
    image: mhilker/private:cinema-bot-php
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    command: php /app/bin/cli.php crawl-cinema
    environment:
      - TELEGRAM_TOKEN_FILE=/run/secrets/cinema-bot-telegram-token
      - DB_PATH=/app/database/data.db
    volumes:
      - .:/app/
      - sqlite3-db-data:/app/database/
    secrets:
      - cinema-bot-telegram-token

  notifier:
    image: mhilker/private:cinema-bot-php
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    command: php /app/bin/cli.php send-notifications
    environment:
      - TELEGRAM_TOKEN_FILE=/run/secrets/cinema-bot-telegram-token
      - DB_PATH=/app/database/data.db
    volumes:
      - .:/app/
      - sqlite3-db-data:/app/database/
    secrets:
      - cinema-bot-telegram-token

volumes:
  sqlite3-db-data:

secrets:
  cinema-bot-telegram-token:
    file: telegram-token.local
