version: '3.7'

services:

  web:
    image: mhilker/private:cinema-bot-web
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
    depends_on:
      - php
    environment:
      - PHP_HOSTNAME=php
    ports:
      - "8080:80"
    volumes:
      - .:/app/

  php:
    image: mhilker/private:cinema-bot-php
    build:
      context: .
      dockerfile: docker/php/Dockerfile
      args:
        - COMPOSER_AUTH=${COMPOSER_AUTH}
    environment:
      - TELEGRAM_TOKEN_FILE=/run/secrets/cinema-bot-telegram-token
      - DB_PATH=/app/database/data.db
    volumes:
      - .:/app/
    secrets:
      - cinema-bot-telegram-token

  cron:
    image: mhilker/private:cinema-bot-php
    build:
      context: .
      dockerfile: docker/php/Dockerfile
      args:
        - COMPOSER_AUTH=${COMPOSER_AUTH}
    command: supercronic -json /etc/cron.d/crontab
    environment:
      - TELEGRAM_TOKEN_FILE=/run/secrets/cinema-bot-telegram-token
      - DB_PATH=/app/database/data.db
    volumes:
      - .:/app/
    secrets:
      - cinema-bot-telegram-token

secrets:
  cinema-bot-telegram-token:
    file: telegram-token.local
